@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Stolzl";
    src: url("/fonts/Stolzl-Light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("/fonts/Stolzl-Book.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("/fonts/Stolzl-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("/fonts/Stolzl-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("/fonts/Stolzl-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  html {
    @apply scroll-smooth;
  }

  h1 {
    @apply text-[64px] leading-[78px];
  }

  h2 {
    @apply text-[48px] leading-[64px];
  }

  h3 {
    @apply text-[32px] leading-[48px];
  }

  body,
  p {
    @apply text-[18px] leading-6 mb-4 last:mb-0;
  }

  @media only screen and (max-width: 920px) {
    h1 {
      @apply text-[36px] leading-[48px];
    }
  }

  @media only screen and (max-width: 640px) {
    h2 {
      @apply text-[32px] leading-[40px];
    }
  }

  iframe {
    @apply aspect-video;
  }

  .expander {
    display: none;
    cursor: pointer;
  }

  .expanded {
    display: block;
  }

  .collapsible .expander {
    display: inline;
  }

  .collapsible .expanded {
    display: none;
  }
}

@layer components {
  .partner-links {
    @apply gap-4 grid grid-cols-5;
  }

  .partner-links div {
    @apply flex flex-col gap-4 items-center justify-center;
  }

  .partner-link {
    @apply aspect-square bg-white flex items-center justify-center overflow-hidden rounded-full;
  }

  .partner-link[data-size="1"] {
    @apply w-12 sm:w-20;
  }

  .partner-link[data-size="2"] {
    @apply w-14 sm:w-24;
  }

  .partner-link[data-size="3"] {
    @apply w-16 sm:w-28;
  }

  .partner-link img {
    @apply p-[2%];
  }

  .partner-link[data-size="1"] img {
    @apply w-[calc(48px_/_1.414)] sm:w-[calc(80px_/_1.414)];
  }

  .partner-link[data-size="2"] img {
    @apply w-[calc(56px_/_1.414)] sm:w-[calc(96px_/_1.414)];
  }

  .partner-link[data-size="3"] img {
    @apply w-[calc(64px_/_1.414)] sm:w-[calc(112px_/_1.414)];
  }
}
