---
import IconTiktok from "@icons/IconTiktok.astro";
import IconYoutube from "@icons/IconYoutube.astro";
import IconInstagram from "@icons/IconInstagram.astro";
import HashtagWhyULoveFootball from "@components/HashtagWhyULoveFootball.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-black text-white">
  <div class="container mx-auto py-8 px-4 sm:py-12 sm:px-8 lg:py-16 lg:px-28">
    <div
      class="flex flex-col lg:flex-row justify-between items-center pb-8 border-b border-[#2E3545]"
    >
      <div class="mb-4 lg:mb-0">
        <HashtagWhyULoveFootball />
      </div>
      <div class="flex space-x-4">
        <a
          href="https://www.tiktok.com/@whyuluvfootball"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconTiktok />
        </a>
        <a
          href="http://www.youtube.com/@Whyuluvfootball-wv2mi"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconYoutube />
        </a>
        <a
          href="https://www.instagram.com/whyuluvfootball/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconInstagram />
        </a>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between items-center pt-8">
      <div class="mb-4 lg:mb-0">
        <p class="text-base">© 2024 whyuluvfootball</p>
      </div>
      <div class="flex flex-row space-x-4 text-base">
        <a href="/privacy-policy" class="text-white hover:underline"
          >{t("footer.data")}</a
        >
        <a href="/imprint" class="text-white hover:underline"
          >{t("footer.legal")}</a
        >
        <button type="button" data-cc="show-preferencesModal"
          >{t("footer.consent")}</button
        >
      </div>
      <p class="text-base">
        {t("footer.website")}
        <a href="https://www.1xinternet.de" class="text-white hover:underline"
          >1xINTERNET</a
        >
      </p>
    </div>
  </div>
</footer>
