---
import HeroImage from "../assets/images/HeroImage.astro";
import NavigationBar from "@components/NavigationBar.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative w-full h-auto overflow-hidden" id="hero">
  <div class="absolute left-0 right-0" id="navbar-container">
    <NavigationBar />
  </div>
  <div
    class="w-full max-[540px]:w-[200%] h-auto max-[540px]:right-0 max-[540px]:top-[50%] max-[540px]:-ml-[100%]"
  >
    <HeroImage />
  </div>
  <div
    class="absolute text-[white] z-10 left-[10%] max-sm:left-[5%] bottom-[20%] max-sm:bottom-[5%] w-3/4 max-sm:w-5/6"
    id="hero-text"
  >
    <h1>
      {t("hero.over")}<span class="bg-blue px-3">{t("hero.300million")}</span>{
        t("hero.childrenDontHaveAFootball")
      }
    </h1>
  </div>
</div>
