---
import IconChevronRight from "@icons/IconChevronRight.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!--<div data-service="youtube" data-id="wFAazFeFgOY" data-autoscale></div>-->
<div data-service="youtube" data-id="ltmYSwWXI7U" data-autoscale></div>
<div class="max-w-80 sm:container">
  <div class="flex gap-3 items-center mb-3">
    <span>{t("videos.more")}</span>
  </div>
  <div class="relative">
    <div class="flex gap-3 overflow-x-scroll scrollbar-hide">
      <div data-service="youtube" data-id="wFAazFeFgOY" data-autoscale></div>
      <div data-service="youtube" data-id="Ctka2DBfRRU" data-autoscale></div>
      <div data-service="youtube" data-id="Fxb9bgPpnys" data-autoscale></div>
      <div data-service="youtube" data-id="nTSPnnAbvpc" data-autoscale></div>
      <div data-service="youtube" data-id="x2fNlaTvd60" data-autoscale></div>
      <div data-service="youtube" data-id="jF1Vx43Ci4Y" data-autoscale></div>
      <div data-service="youtube" data-id="y8XRUDH47GQ" data-autoscale></div>
      <div data-service="youtube" data-id="AX_aO89s5kw" data-autoscale></div>
      <!--<div data-service="youtube" data-id="QNXl7RAOevI" data-autoscale></div>-->
      <div data-service="youtube" data-id="i4Ap6hCtyug" data-autoscale></div>

      <div class="min-w-[40%] min-h-full"></div>
    </div>
    <div
      class="absolute bg-gradient-to-r from-transparent to-blue h-full ml-auto top-0 right-0 w-2/12 sm:w-1/5 z-10"
    >
    </div>
    <div class="absolute top-[40%] right-4 w-10 h-10 z-10">
      <IconChevronRight />
    </div>
  </div>
</div>
