---
import Footer from "@components/Footer.astro";
import CookieConsent from "../components/CookieConsent.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script
      is:inline
      type="text/plain"
      data-category="analytics"
      data-service="Google Analytics"
      data-type="text/partytown"
      data-src="https://www.googletagmanager.com/gtag/js?id=G-E95B4HTX6G"
    ></script>
    <script src="../scripts/google-analytics.js"></script>
    <meta charset="UTF-8" />
    <meta name="description" content="Whyuluvfootball website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
      <CookieConsent />
      <Footer />
    </main>
  </body>
</html>
